/*resets*/

body {
  background-color: black;
  margin: 0;
  font-family: "Mukta", sans-serif;
}

.header {
  position: relative;
}
.header-background-img {
  position: absolute;
  top: -700px;
  left: 0px;
  z-index: -1;
}
/* .header {
  background-image: url("/assets/dark-chocolate-sweets-chocolate-concepts-chocolate-bar-candy-concepts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.btn {
  width: 100%;
  font-family: "Mukta", sans-serif;
  color: white;
  font-size: 50px;
  background-color: #6c553d;
  border-radius: 25px;
  margin: 2px;
}

.desktop-container {
  display: flex;
  height: 200px;
  border: 1px solid green;
}

.hidden {
  display: none;
}

p {
  color: white;
}

@media only screen and (min-width: 768px) {
  .btn {
    display: none;
  }

  .main {
    display: flex;
    justify-content: space-between;
  }

  .desktop-container {
    display: flex;
    border: 1px solid green;
    width: 33%;
    color: white;
    height: 200px;
  }
}
